/*Mobile*/

@media only screen and (min-width:768px){
    .square-wrapper{
        height:600px;

    }

    .square1{
        height:100px;
        width:100px;

    }

    .square2{

    }

    .square3{

    }
}